.App {
  min-height: 10vh;
  text-align: center;
  background: rgb(97, 170, 230);
}

.ButtonForApp{
  height: 140px;
  border: 4 px solid black;
  width: 300 px;
  border-radius: 30px;
  background: white;
  border-style: double;
  margin:9px;
  line-height: 0.5;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:column;
}
