.App {
  min-height: 100vh;
  text-align: center;
  background: rgb(97, 170, 230)
}

.ButtonForApp{
  height: 100px;
  border: 2 px solid black;
  width: 400 px;
  border-radius: 30px;
  background: white;
  border-style: ridge;
  margin:9px;
  line-height: 0.5;
}
